@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}




body {
    background: #ffffff !important;
    font-family: Arial, Helvetica, sans-serif;
}
@layer utilities {
    .text-brandMint { color: #99DFBD; }
    .text-brandPeach { color: #FFBC7D; }

    .bg-brandMint { background-color: #99DFBD; }
    .bg-brandPeach { background-color: #FFBC7D; }

    .border-brandMint { border-color: #99DFBD; }
    .border-brandPeach { border-color: #FFBC7D; }

    /* Fondos suaves opcionales */
    .bg-brandMint-light { background-color: #e3f6f0; }
    .bg-brandPeach-light { background-color: #fff0e6; }
}